.edit-exam-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .question-container {
    margin-bottom: 40px;
  }
  
  .question-header {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  ul.answers-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .answer-item {
    margin-bottom: 20px;
  }
  
  .correct-answer-label {
    color: green;
  }
  
  .correct-answer-input:checked + .correct-answer-label::before {
    content: "\2713";
  }
  
  .correct-answer-input:not(:checked) + .correct-answer-label::before {
    content: "\2717";
  }
  
  .correct-answer-label::before {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #ccc;
    content: "";
  }
  
  .correct-answer-input:checked + .correct-answer-label {
    color: green;
  }
  